---
layout: default
title: 木偶人的博客
---
<header><a id="go-back-home" href="/"><h1>朝夕拾遗</h1></a></header>
    <div id ="container" class = "animated zoomIn">
        <div class="block"></div>
        <div class="content typo">
            <ul class="posts">
                {% for post in site.posts %}
                    <li><h3><a class="main" href="{{ post.url }}">{{ post.title }}</a></h3></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
